{{ define "main" }}
  <h1 class="title titlewithdescription">资讯</h1>
  <p class="description">--RL NEWS!--</p>
  <h2 class="title titlewithdescription">置顶</h2>
  <p class="description">--很重要的消息！--</p>
  {{ $selectedTags := slice "Stickythread" }}
  {{ range where .Site.RegularPages "Params.tags" "intersect" $selectedTags }}
    <div class="listblock">
      <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <a class="summary" href="{{ .RelPermalink }}">
        <p>▶{{ .Summary }}</p>
      </a>
      <div class="description">{{ partial "metadata.html" . }} </div>
    </div>
  {{ end }}
  {{ $selectedTags := slice "timeline" "news" }}
  <h2 class="title titlewithdescription">时间线</h2>
  <p class="description">----</p>
  {{ range where .Site.RegularPages "Params.tags" "intersect" $selectedTags }}
    <div class="listblock">
      <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <a class="summary" href="{{ .RelPermalink }}">
        <p>▶{{ .Summary }}</p>
      </a>
      <div class="description">{{ partial "metadata.html" . }} </div>
    </div>
  {{ end }}
{{ end }}
