p {
    color: #6a6a6a;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: larger;
}

h1, h2, h3, h4, h5, h6 {
    color: #a85400;
    font-family: "Noto Serif SC";
 }
 
header {
    font-size: large;
    padding: 10px;
    text-align: left;
    margin-left: 20%;
}

.pagetitle {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0%;
}

.title {
    margin-bottom: 0%;
}

.description {
    font-size: medium;
    margin-top: 0%;
}

nav {
    background-color: #333;
    padding: 0px;
    width: 51%;
    margin-left: 20%;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

nav a:hover {
    background-color: #3ac139;
    color: #000;
}

.sidebar {
    float: right;
    margin-right: 10%;
    width: 15%;
    background-color: black;
    padding: 20px;
}

.sidebar h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    font-size: larger;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #6a6a6a;
}

.sidebar a:hover {
    color: #3ac139;
}

section {
    margin-left: 20%;
    color: #6a6a6a;
    padding: 20px;
    margin-right: 29%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
    
    margin-bottom: 5%;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.gallery img {
    width: 150px; /* 设置缩略图的宽度 */
    height: 100px; /* 设置缩略图的高度 */
    object-fit: cover; /* 保持图片比例并覆盖整个区域，可能会裁剪部分图像 */
    margin: 10px 0;
    cursor: pointer;
}

.timestamp {
    margin-left: 50%;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#topButton:hover {
    background-color: #0056b3;
}
