/* no comment */

a:link {
    color: #8a9a7b;
}

a:visited {
    color: #a292a3;
}

a:hover {
    color:#87a987;
}

body {
    background-color: #1e1f28;
}

div, table{
    color: #dcd7ba;
}

.pure-table, tr {
    color: #C8C093;
}
th {
    background-color: #0d0c0c;
}
tr {
    background-color: #262734;
}

a.pure-menu-heading.pure-menu-link {
    color: #C8C093;
}

a.pure-menu-link:visited {
    color: #C8C093;
}

a.pure-menu-link:hover {
    color: #C8C093;
    background-color: #8a9a7b;
}